d-i debian-installer/locale string en_US.UTF-8

d-i console-keymaps-at/keymap select us
d-i keyboard-configuration/xkb-keymap us

d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string {{ hostname }}
d-i netcfg/get_domain string {{ domain }}
d-i netcfg/wireless_wep string

{% if static_networking == True -%}
d-i netcfg/disable_autoconfig boolean true
d-i netcfg/dhcp_failed note
d-i netcfg/dhcp_options select Configure network manually
d-i netcfg/get_ipaddress string {{ address }}
d-i netcfg/get_netmask string {{ netmask }}
d-i netcfg/get_gateway string {{ gateway }}
d-i netcfg/get_nameservers string {{ nameserver }}
d-i netcfg/confirm_static boolean true
{%- endif %}

d-i mirror/country string manual
d-i mirror/http/hostname string {{ mirror }}
d-i mirror/http/directory string {{ mirror_directory }}
d-i mirror/http/proxy string {{ proxy }}
{% if non_free == True -%}
d-i apt-setup/non-free boolean true
{%- endif %}
{% if contrib == True -%}
d-i apt-setup/contrib boolean true
{%- endif %}

d-i clock-setup/utc boolean true
d-i clock-setup/ntp boolean true
d-i clock-setup/ntp-server string 0.pool.ntp.org
d-i time/zone string Europe/Berlin

d-i partman-auto/disk string /dev/sda
d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select atomic
d-i partman-md/confirm boolean true
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i grub-installer/only_debian boolean true
d-i grub-installer/bootdev string default

d-i passwd/root-password-crypted password {{ root_password }}
d-i passwd/user-fullname string {{ user_real_name }}
d-i passwd/username string {{ user_name }}
d-i passwd/user-password-crypted password {{ user_password }}

tasksel tasksel/first multiselect standard, ssh-server
d-i pkgsel/upgrade select full-upgrade
popularity-contest popularity-contest/participate boolean false
d-i finish-install/reboot_in_progress note
d-i debian-installer/exit/poweroff boolean true
